<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- d3 JavaScript -->
    <script src="https://d3js.org/d3.v5.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">

    <!-- Style CSS-->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    
    <!-- Page Title-->
    <title>Stock Predictor</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="/">SMART STOCKS</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">Dashboard</a>
          </li>
        </ul>
      </div>
    </nav>
  
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 jumbotron text-center">
          <h1>SMART STOCKS</h1>
        </div>
      </div>
    </div>

        <!-- Page Content -->
        <div class="container">

          <!-- Portfolio Item Heading -->
          <h1 class="my-4">Predict a Stock's Closing Price Using a Neural Network!
            <small></small>
          </h1>
    
          <!-- Portfolio Item Row -->
          <div class="row">
              <div class="col-md-8"> 
              <img class="img-fluid" src="../static/images/AI_Stock.png" alt="">
              </div>
    
            <div class="col-md-4">
              <h3 class="my-3">Project Description:</h3>
              <p>An LSTM Model is a recurrent neural network (RNN) and over time, RNNS have proved themselves as one of the most powerful models for processing sequential data. In our case this is time series data.</p>
              <p>An LSTM Model introduces the concept of a "memory cell". This is a unit of computation that replaces traditional artificial neurons in the hidden layer of the network.</p>
              <p>Our goal is to predict as accurately as possible the closing stock price for a given stock using three models fit on 10, 30 and 60 day intervals.</p>
              <a class="btn btn-primary btn-lg" href="/dashboard">Predict a Stock!</a>
            </div>
    
          </div>
          <!-- /.row -->

    <!-- Footer -->
    <footer class="py-5 bg-light">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Smart Stocks 2019</p>
      </div>
      <!-- /.container -->
    </footer>

  

    <!-- Scripts to run Bootstrap v4.3.1 -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>