<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- d3 JavaScript -->
    <script src="https://d3js.org/d3.v4.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
    
    <!-- Style CSS-->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    
    <!-- Page Title-->
    <title>Stock Predictor</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="/">SMART STOCKS</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarColor01">
        <form class="form-inline my-2 my-lg-0" onsubmit="return false">
          <input class="form-control mr-sm-2" type="text" id="search" value="AAPL" onchange="inputChanged(this.value)">
          <datalist id="ticker-list"></datalist>
          <button class="btn btn-secondary my-2 my-sm-0" id="submit">Search</button>
        </form>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/data_table">Data</a>
          </li>
        </ul>
      </div>
    </nav>
  
    <div class="container-fluid">
      <div class="row row-margin">
        <div class="col-md-9">
          <div id="candlestick-plot" style="height: 600px"></div>
        </div>
        <div class="col-md-3">
          <div class="row">
            <div class="card border-primary mb-3" style="max-width: 20rem;">
              <div class="card-header">Current Data</div>
              <div class="card-body" id="current-stock">
                <h4 class="card-title"></h4>
                <p class="card-text"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row row-margin">
        <div class="col-md-9">
          <div id="pred-plot" style="height: 600px"></div>
        </div>
        <div class="col-md-3">
          <div class="row">
            <div class="card border-primary mb-3" style="max-width: 20rem;">
              <div class="card-header">Close Price Prediction</div>
              <div class="card-body">
                <h4 class="card-title">60 Day Time Step</h4>
                <p class="card-text" id="sixty_p"></p>
                <p class="card-text" id="sixty_e"></p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="card border-primary mb-3" style="max-width: 20rem;">
              <div class="card-header">Close Price Prediction</div>
              <div class="card-body">
                <h4 class="card-title">30 Day Time Step</h4>
                <p class="card-text" id="thirty_p"></p>
                <p class="card-text" id="thirty_e"></p>
              </div>
            </div>
          </div>
          <!-- <div class="row">
            <div class="card border-primary mb-3" style="max-width: 20rem;">
              <div class="card-header"></div>
              <div class="card-body">
                <h4 class="card-title">Primary card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div> -->
        </div>
      </div>
      <!-- <div class="row row-margin">
        <div class="col-md-9">
          <button type="button" class="btn btn-primary active">All Predictions</button>
          <button type="button" class="btn btn-primary">60 Day Prediction</button>
          <button type="button" class="btn btn-primary">30 Day Prediction</button>
          <button type="button" class="btn btn-primary">10 Day Prediction</button>
        </div>
      </div> -->
    </div>

    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- JavaScript -->
    <script type="text/javascript" src="../static/js/app.js"></script>

    <!-- Scripts to run Bootstrap v4.3.1 -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>